<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<form class="login-form" method="POST">

    <div class="row">
        <div class="input-field col s12">
            <input id="loginId" type="text" name="username" class="validate"/>
            <label for="loginId">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="loginPassword" type="password" name="password" class="validate"/>
            <label for="loginPassword">Password</label>
        </div>
    </div>
    <input class="login-btn waves-effect waves-light btn" type="submit" value="로그인"/>
</form>

</body>
</html>