<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>find form</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">


    <h3>장소 검색</h3>

    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="keyword">검색어</label>
                    <input id="keyword" type="text" name="keyword" class="form-control" placeholder="장소명"/>

                    <small id="emailHelp" class="form-text text-muted">검색하고 싶은 장소를 입력해 주세요.</small>
                </div>
                <button id="btnFind" type="button" class="btn btn-primary">검색</button>
            </form>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col">

            <div id="divFindResultList"></div>

            <div id="divFindResultPagination" class="pagination"></div>

        </div>
        <div class="col">
            <div id="divFindResultDetail"></div>
        </div>
    </div>

</div>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        var findPlace = function(_page, _keyword) {
            /*
                이 방법 말고... 좀더 쌔련된 방법이 필요해..
            */
            console.log('_page='+ _page);
            if(_page == undefined || _page == null || _page == '') {
                _page = 1;
            }

            // var _keyword = $('#keyword').val();
            if(_keyword.length <= 0) {
                alert('검색어를 입력하세요');
                return;
            }

            $.ajax({
                url: '/api/place/find'
                , async: true
                , type: 'GET'
                , data: {
                    keyword : _keyword
                    , page : _page
                }
                , dataType: 'json'
                , beforeSend: function(jqXHR) {
                    $('#divFindResultList').empty();
                    $('#divFindResultPagination').empty();
                    $('#divFindResultDetail').empty();
                }
                , success: function(data) {

                    var result = data.place;

                    console.info('result=' + result);

                    var contentFindResultTable = $('<table>', {class : 'table table-sm'}).append(
                        $('<thead>').append(
                            $('<tr>').append(
                                $('<th>', {scope : 'col', colspan : 2}).text('검색어 "' + _keyword + '" 검색결과 (총 ' + data.pagination.totalCount + '건 검색)')
                            )
                        )
                    );

                    var contentFindResultTableTbody = $('<tbody>');
                    $.each(result.placeList, function(idx, place) {

                        contentFindResultTableTbody.append(
                            $('<tr>').append(
                                $('<td>').text(place.name)
                                , $('<td>').append(
                                    $('<button>', {
                                        click : function() {
                                            $('#divFindResultDetail').empty().append(
                                                $('<h3>').text(place.name)
                                                , $('<li>').text(place.categoryName)
                                                , $('<li>').text(place.address1)
                                                , $('<li>').text(place.address2)
                                                , $('<li>').text(place.phone)
                                                , $('<li>').text(place.x)
                                                , $('<li>').text(place.y)
                                                , $('<button>', {
                                                        click : function() {
                                                            window.open(place.mapUrl);
                                                        }
                                                }).css('cursor', 'pointer').text('지도 바로가기')
                                            )
                                        }
                                    }).text('상세정보')
                                )
                            )
                        );
                    });
                    $('#divFindResultList').empty().append(contentFindResultTable.append(contentFindResultTableTbody));

                    var paginationNav = $('<nav>', {'aria-label' : 'Page navigation'});
                    var paginationNavList = $('<ul>', {class : 'pagination justify-content-center'});
                    paginationNavList.append(
                        $('<li>', {
                                class : data.pagination.prev ? 'page-item' : 'page-item disabled'
                            }).append(
                            $('<a>', {href : '#', class : 'page-link', 'aria-label' : 'next'
                                , click : function() {
                                    findPlace(data.pagination.prevPageNo, _keyword);
                                }}).append(
                                $('<span>', {'aria-hidden' : true}).html('&laquo;')
                            )
                        )
                    );
                    for(var i = data.pagination.beginPageNo; i <= data.pagination.endPageNo; i++) {
                        var liTag = $('<li>', {class : 'page-item'
                            , class : (data.pagination.currentPage == i) ? 'page-item active' : 'page-item'
                            ,  'aria-current' : (data.pagination.currentPage == i) ? 'page' : ''
                        });

                        var aTag = $('<a>', {href : '#', class : 'page-link'}).text(i);
                        if(data.pagination.currentPage == i) {
                            aTag.append('<span class="sr-only">(current)</span>');
                        } else {
                            aTag.bind('click', {page : i}
                                        , function(event) {
                                            findPlace(event.data.page, _keyword);
                                        });
                        }

                        paginationNavList.append(liTag.append(aTag));
                    }
                    paginationNavList.append(
                        $('<li>', {
                                class : data.pagination.next ? 'page-item' : 'page-item disabled'
                            }).append(
                            $('<a>', {href : '#', class : 'page-link', 'aria-label' : 'next'
                                , click : function() {
                                    findPlace(data.pagination.nextPageNo, _keyword);
                                }}).append(
                                $('<span>', {'aria-hidden' : true}).html('&raquo;')
                            )
                        )
                    );

                    $('#divFindResultPagination').empty().append(paginationNav.append(paginationNavList));
                }
                , error: function(jqXHR) {
                    // 요청 실패
                }
                , complete: function(jqXHR) {
                    // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
                }
            });
        };

        $(document).ready(function() {
            $('#btnFind').click(function() {
                findPlace(1, $('#keyword').val());
            });

            $("#keyword").keydown(function(key) {
                if (key.keyCode == 13) {
                    findPlace(1, $('#keyword').val());
                    return false;
                }
            }).focus();
        });
    </script>
    <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>