<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>find form</title>
    <style>
    .pagination {
      display: inline-block;
    }

    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
    }

    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }

    .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
    <script src="/webjars/jquery/2.2.4/dist/jquery.min.js"></script>
    <script type="text/javascript">

        var findPlace = function(_page) {

                console.log('_page='+ _page);
                if(_page == undefined || _page == null || _page == '') {
                    _page = 1;
                }

                /*
                    이 방법 말고... 좀더 쌔련된 방법이 필요해..
                */

                $.ajax({
                    url: '/api/place/find'
                    , async: true
                    , type: 'GET'
                    , data: {
                        // 전송할 데이터
                        keyword : $('#keyword').val()
                        , page : _page
                    }
                    , dataType: 'json' // xml, json, script, html
                    , beforeSend: function(jqXHR) {
                        $('#divFindResult ul').empty();
                        $('#divFindResultPagination').empty();
                        // 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
                    }
                    , success: function(data) {
                        // 요청 완료 시

                        var result = data.place;

                        console.log("result.totalCount=" + result.totalCount);

                        $.each(result.placeList, function(idx, place){
                            console.log(idx + " " + place.name + " " + place.y + " " + place.x);
                            var _url = "http://map.daum.net/link/map/" + place.name + "," + place.y + "," + place.x;

					        $('#divFindResult ul').append('<li>' + place.name + ' <a target="_blank" href="' + _url + '">[지도 바로가기]</a></li>');
		                });


                        if(data.pagination.prev) {
                            $('#divFindResultPagination').append('<a href="#" onclick="findPlace(' + data.pagination.prevPageNo + ')">&laquo;</a>');
                        }

                        for(var i = data.pagination.beginPageNo; i <= data.pagination.endPageNo; i++) {

                            var activePage = '';
                            if(data.pagination.currentPage == i) {
                                activePage = 'class="active"';
                            }

                            $('#divFindResultPagination').append('<a href="#" ' + activePage + ' onclick="findPlace(' + i + ')">' + i + '</a>');

                        }


                        if(data.pagination.next) {
                            $('#divFindResultPagination').append('<a href="#" onclick="findPlace(' + data.pagination.nextPageNo + ')">&raquo;</a>');
                        }

                    }
                    , error: function(jqXHR) {
                        // 요청 실패
                    }
                    , complete: function(jqXHR) {
                        // 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
                    }
                });
            };

        $(document).ready(function() {
            $('#btnFind').click(function() {
                findPlace(1);
            });
        });
    </script>

</head>
<body>

    <form class="find-form" method="POST">

        <div class="row">
            <div class="input-field col s12">
                <input id="keyword" type="text" name="keyword" class="validate"/>
                <label for="keyword">장소검색</label>
            </div>
        </div>

    </form>

    <input id="btnFind" class="login-btn waves-effect waves-light btn" type="button" value="검색"/>

    <div id="divFindResult"><ul></ul></div>

    <div id="divFindResultPagination" class="pagination">

        <!--<a href="#">&laquo;</a>-->
        <!--<a href="#">1</a>-->
        <!--<a href="#" class="active">2</a>-->
        <!--<a href="#">3</a>-->
        <!--<a href="#">4</a>-->
        <!--<a href="#">5</a>-->
        <!--<a href="#">6</a>-->
        <!--<a href="#">&raquo;</a>-->
    </div>


</body>
</html>