<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Top10 Place</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">

</head>
<body>

    <h3>인기 검색어 TOP 10</h3>


    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</body>
</html>